{% extends 'base.html.twig' %}

{% block title %}Find all products{% endblock %}

{% block body %}
    <h1>All products</h1>
    {% if products %}
        <ul>{% for p in products %}
                <li>{{p}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, no products were found!</p>
    {% endif %}
{% endblock %}